.faq__wrap {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.faq__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.faq__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $base-blue;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    align-self: center;
    font-size: 34px;
    line-height: 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-bottom: 60px;
    padding: 11px 9px;
    font-size: 50px;
    text-align: center;
  }
}

.faq__content {
  max-width: 290px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 678px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1028px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
